<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="this.authService.isLoggin()">
  <a class="navbar-brand" routerLink="/inicio">TOPPOLT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" routerLink="/inicio">Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/unconfigured">Provisionamento</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Configurações</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">OLT's</a>
          <a class="dropdown-item" routerLink="/usuarios">Acesso</a>
          <a class="dropdown-item" href="#">Opções</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">{{nome}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="editUser()" style="cursor: pointer;">Editar Perfil</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
